@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 3.438rem 0;
}

header {
  height: 100vh;
  background-image: linear-gradient(
      120deg,
      rgba(161, 196, 253, 0.4) 0%,
      rgba(194, 233, 251, 0.4) 100%
    ),
    url(../img/notebook.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.head {
  font-size: 1.688rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.icono__desplegable {
  position: fixed;
  top: 2.313rem;
  right: 2.313rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0.4375rem;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.5);
}

.nav__links {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgb(168, 237, 234) 0%,
    rgb(254, 214, 227) 100%
  );
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.5);
  /* transition: transform 0.3s ease-in-out; */
  transform: translate(110%);
}

.nav__links a {
  color: #678cb9;
  text-decoration: none;
}

.spread {
  transform: translate(0);
}

.title {
  text-align: center;
  font-size: 3.75rem;
  margin-bottom: 1.875rem;
  font-family: "Ranchers", cursive;
  letter-spacing: 0.1rem;
}

.text__copy {
  text-align: center;
  font-size: 1.563rem;
  font-weight: 300;
}

/* Services */

.subtitle {
  text-align: center;
  font-weight: 300;
  color: #9f8ad0;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}

.contenedor-services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-services img {
  width: 40%;
}

.checklist__service {
  width: 45%;
}

.service {
  margin-bottom: 1.25rem;
}

.n__service {
  margin-bottom: 0.4375rem;
  color: #9f8ad0;
}

.number {
  display: inline-block;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}

/* GALERIA */

.galeria {
  background: #f2f2f2;
}

.contenedor__galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img__galeria {
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 0.9375rem;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.image__light {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2 ease-in-out;
}

.show {
  transform: translate(0);
}

.add__image {
  object-fit: cover;
  width: 60%;
  border-radius: 0.625rem;
  transform: scale(0);
  transition: transform 0.2s 0.1s;
}

.close {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  cursor: pointer;
  width: 2.5rem;
}

.click__image {
  transform: scale(1);
}

/* SERVICIOS COMPLETOS */

.experts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.experts__container {
  width: 30%;
  text-align: center;
}

.experts__container img {
  width: 75%;
  display: block;
  margin: auto;
}

.n-experts {
  display: block;
  font-weight: 400;
  margin-top: 1.25rem;
}

/* FOOTER */

footer {
  padding-bottom: 0.1px;
  background: #9f8ad0;
}

.footer__contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.2rem;
  padding-bottom: 1.5rem;
}

.contenido {
  width: 40%;
  color: rgb(56, 65, 119);
}

.marca {
  font-weight: 500;
  font-size: 2.5rem;
  font-family: "Ranchers", sans-serif;
}

.marca__subtitle {
  font-weight: 400;
  font-family: "Ranchers", sans-serif;
}

.social__media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon__media {
  display: inline-block;
  margin-left: 1.25rem;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.25px solid #fff;
  border-radius: 20% 20% 20% 20%;
  text-align: center;
  color: #fff;
}

.f {
  color: rgb(90, 118, 179);
}

.t {
  color: rgb(8, 160, 233);
}

.i {
  color: rgb(193, 53, 132);
}

.f:hover {
  background: #fff;
  color: rgb(90, 118, 179);
}

.t:hover {
  background: #fff;
  color: rgb(8, 160, 233);
}

.i:hover {
  background: #fff;
  color: rgb(193, 53, 132);
}

.icon__media i {
  font-size: 30px;
  line-height: 60px;
}

/* Media queries - responsive design */

@media screen and (max-width: 800px) {
  .nav__links {
    width: 50vw;
  }
  .title {
    font-size: 2.5rem;
  }
  .contenedor-services img {
    width: 80%;
    margin-bottom: 2.5rem;
  }
  .checklist__service {
    width: 80%;
  }
  .service {
    margin-bottom: 1.875rem;
  }
  .add__image {
    width: 80%;
  }
  .img__galeria {
    width: 45%;
  }
  .experts__container {
    width: 80%;
  }
  .footer__contenido {
    justify-content: center;
  }
  .social__media {
    width: 80%;
    justify-content: space-evenly;
  }
  .social__media i {
    margin-left: 0;
  }
  .contenido {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
}
